*{
    margin: 0%;
    padding: 0%;
    font-family: 'Consolas','Inconsolata';
    text-decoration: none;
    list-style-type: none;
    outline: none;
}
:root{
    /* PALETA DE COLORES */
    --color_resaltado:#FFA800;
    --color_resaltado_hover:#C78300;
    --color_blanco:#F4F4F4;
    --color_blanco_active:#cfcfcf;
    --color_blanco_2:#dadada;
    --color_gris_1:#595959;
    --color_gris_2:#373737;
    --color_negro:#111;
    --color_negro_translucido:#1111114b;
}
/* PAGINA */
html{
    background-color: var(--color_negro);
    height: 100vh;
}
body{
    padding: 50px;
    background-color: var(--color_negro);
    align-items: center;
    background: repeating-linear-gradient(
        to bottom,
        transparent 0px,
        transparent 20px,
        #171717 20px,
        #151515 21px);
}
body::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}
body::-webkit-scrollbar-thumb {
    background-color: var(--color_gris_1);
    border-radius: 6px;
}
/* ESTILOS GENERALES */
.columna{
    display: flex;
    flex-direction: column;
}
.fila{
    display: flex;
    flex-direction: row;
}
.btn-p{
    padding: 10px 20px;
    color: var(--color_resaltado);
    border: 2px solid var(--color_resaltado);
    border-radius: 5px;
}
::selection {
    background-color: rgb(84, 84, 84);
    color: #fff;
}
/* RESOLUCION VENTANA */
.ancho-v{
    width: 50%;
    max-width: 1000px;
    min-width: 1000px;
}